
@{
    ViewBag.Title = "NewCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>CATEGORY NAME</label>
        <input type="text" class="form-control" name="CATEGORYNAME" />

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">ADD CATEGORY</button>
    </div>
</form>

