
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div style="margin-top:15px">
        <label>CUSTOMER NAME</label>
        <input type="text" class="form-control" name="CUSTOMERNAME" />
    </div>
    <div style="margin-top:30px">
        <label>CUSTOMER SURNAME</label>
        <input type="text" class="form-control" name="CUSTOMERSURNAME" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">ADD CUSTOMER</button>
    </div>
</form>

