@model MVC_STOCK.Models.Entity.TBLSALES
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Sale!</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="model-title">Sale Panel</h2>
            </div>
            <form method="post" action="/Sales/NewSale">
                <div class="modal-body">
                    <label>Product Name</label>
                    @Html.TextBoxFor(m => m.PRODUCT, new { @class = "form-control" })
                    <br />
                    <label>Customer Name & Surname </label>
                    @Html.TextBoxFor(m => m.CUSTOMER, new { @class = "form-control" })
                    <br />
                    <label>Amount</label>
                    @Html.TextBoxFor(m => m.AMOUNT, new { @class = "form-control" })
                    <br />
                    <label>Price</label>
                    @Html.TextBoxFor(m => m.PRICE, new { @class = "form-control" })
                    <br />
                    <button  type ="submit" class="btn btn-info">SALE!</button>
                    <button  type ="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                </div>
            </form>
        </div>
    </div>
</div>

