@model MVC_STOCK.Models.Entity.TBLPRODUCTS
@{
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div style="margin-top:15px">
        <label>PRODUCT NAME</label>
        <input type="text" class="form-control" name="PRODNAME" />
    </div>
    <div style="margin-top:30px">
        <label>PRODUCT PRICE</label>
        <input type="text" class="form-control" name="PRICE" />
    </div>
    <div style="margin-top:30px">
        <label>PRODUCT BRAND</label>
        <input type="text" class="form-control" name="BRAND" />
    </div>
    <div style="margin-top:30px">
        <label>PRODUCT CATEGORY</label>
        @Html.DropDownListFor(m=>m.TBLCATEGORIES.CATEGORYID,(List<SelectListItem>)ViewBag.vls, new {@class="form-control"})
    </div>
    <div style="margin-top:30px">
        <label>PRODUCT STOCK</label>
        <input type="text" class="form-control" name="STOCK" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">ADD PRODUCT</button>
    </div>
</form>

